{% extends 'base.html' %}

{% block head_title %}
Manny's magnificent fake twitter
{% endblock head_title %}

{% block content %}

<div class="row text-center">
<div class="col">
<h1>

  Welcome to Manny's magnificent fake twitter
</h1>
</div>
</div>

<div class="row mb-4">
  <div class="col-md-4 mx-auto col-10">
    <form class="form" id='tweet-create-form'action="/create-tweet" method='POST'>
      {% csrf_token %}
      <div class="d-none alert alert-danger" id='tweet-create-form-error'>LOL</div>
      <input type='hidden' value='/' name='next' />
      <textarea  required='required' class='form-control' name='content' placeholder="Your tweet"></textarea>
      <button type='submit' class='btn btn-primary'>Tweet</button>
    </form>
  </div>
</div>
<div class="row" id="tweets">
  Loading...
</div>


<script>

  function handleTweetFormError (msg, display){
    let myErrorDiv = document.getElementById('tweet-create-form-error')
    if (display){
      myErrorDiv.setAttribute('class', 'd-block alert alert-danger')
      myErrorDiv.innerText = msg
    } else {
      myErrorDiv.setAttribute('class', 'd-none alert alert-danger')
    }
  }
  //const tweetsEl = document.getElementById('tweets') // $("#tweets") jquery
  const handleTweetFormDidSubmit = (evt) => {
    evt.preventDefault();
    const myForm = evt.target
    const myFormData = new FormData(myForm)
    // for(let myItem of myFormData.entries()){
    //   console.log(myItem)
    // }
      const url = myForm.getAttribute('action')
      const method = myForm.getAttribute('method')
      const xhr = new XMLHttpRequest()
      const responseType = "json"
      xhr.responseType = responseType
      xhr.open(method, url)
      xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
      xhr.onload = function() {
        if(xhr.status === 201){
          handleTweetFormError("", false)
          const newTweet = xhr.response
          const newTweetElement = formatTweetElement(newTweet)
          const ogHtml = document.getElementById('tweets').innerHTML
          document.getElementById('tweets').innerHTML = newTweetElement + ogHtml
          myForm.reset()
        } else if (xhr.status === 400){
          
          const errorJson = xhr.response
          const contentError = errorJson.content
          let contentErrorMessage;
          if(contentError){
            contentErrorMessage = contentError[0]
            console.log(contentErrorMessage)
            if (contentErrorMessage){
              handleTweetFormError(contentErrorMessage, true)
            }
          } else {
            alert('An error has occured, please try again later')
          }
        } else if (xhr.status === 401){
          alert("You must log in!")
          window.location.href = "/login"
        } else if (xhr.status === 403){
          alert("You must log in!")
          window.location.href = "/login" 
          } else if (xhr.status === 500){
          alert('There was a server error, please try again')
        }

  }
  xhr.onerror = () => {
    alert('An error has occured, please try again later')
  }
xhr.send(myFormData)
}
  
  const tweetCreateFormEl = document.getElementById('tweet-create-form')
  tweetCreateFormEl.addEventListener('submit', handleTweetFormDidSubmit)

  const loadTweets = (tweetsEl) => {
    
      const xhr = new XMLHttpRequest()
      const method = 'GET'
      const url = '/tweets'
      const responseType = 'json'
    
      xhr.responseType = responseType;
      xhr.open(method, url)
      xhr.onload = function() {
        const serverResponse = xhr.response
        var listedItems = serverResponse
        let finalTweetStr = ""
        for (let i = 0; i < listedItems.length; ++i){
          let tweetObject = listedItems[i];
          let currentItem = formatTweetElement(tweetObject)
          finalTweetStr += currentItem; 
        }
      tweetsEl.innerHTML= finalTweetStr
      }
      xhr.send()

  }
  loadTweets(document.getElementById('tweets'))

  //GET CSRF COOKIE TOKEN
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


  function handleTweetActionBtn(tweet_id, currentCount,action) {
    const url = '/api/tweets/action/'
    const method = 'POST'
    const data = JSON.stringify({
      id: tweet_id,
      action: action
    })
    const xhr = new XMLHttpRequest()
    const csrftoken = getCookie('csrftoken');
    xhr.open(method, url)
    xhr.setRequestHeader('Content-Type', 'application/json')
    xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
    xhr.setRequestHeader('X-CSRFToken', csrftoken)
    xhr.onload = function (){
      loadTweets(document.getElementById('tweets'))
    }
    xhr.send(data)
    return
  }
  function likeBtn(tweet){
    return `<button class='btn btn-primary btn-sm' onClick=handleTweetActionBtn(${tweet.id},${tweet.likes},'like') >${tweet.likes} Likes!</button>`
  }
  function unlikeBtn(tweet){
    return `<button class='btn btn-outline-primary btn-sm' onClick=handleTweetActionBtn(${tweet.id},${tweet.likes},'unlike') >Unlike!</button>`
  }
  function retweetBtn(tweet){
    return `<button class='btn btn-outline-success btn-sm' onClick=handleTweetActionBtn(${tweet.id},${tweet.likes},'retweet') >Retweet</button>`
  }

  function formatTweetElement(tweet){
    let formattedTweet = `<div class="col-12 mb-4 tweet py-3 border rounded" id="tweet-${tweet.id}"> <p>${tweet.content}</p><div class='btn-group'> ${likeBtn(tweet)} ${unlikeBtn(tweet)} ${retweetBtn(tweet)}</div></div>`
    return formattedTweet
  }


</script>
{% endblock content %}